// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.roman {
  margin-top: 100px;
}

#bubble {
  width: 260px;
  height: 250px;
  background-image: url(/assets/bubble_sprite.png);
  background-position-y: -250px;
  background-repeat: no-repeat;
  background-size: 100%;
  
  
  /*thinking animation*/
  &.thinking {
    background-position-y: 0px;
  }
  
  h1, h2, h3, h4, h5, p {
    padding: 25px 25px 0 25px;
  }
}
