// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.roman {
  margin-top: 100px;
}

#bubble {
  width: 300px;
  height: 250px;
  background-image: url(/assets/speech_bubble.png);
  background-repeat: no-repeat;
  background-size: 100%;
  
  
  /*thinking animation*/
  &.thinking {
    background-image: url(/assets/thought_bubble.png);
  }
  
  h3 {
    padding: 25px;
  }
}
